nav,
.news-list {
  background-color: #e3f2fd;
}
.news-item:first-child {
  border-top: none;
}
.news-item,
.comment-box,
.comment-list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
a.news-action {
  color: #777777;
}

a.news-action:hover,
a.news-action.liked {
  color: #007bff;
}

.comment-box {
  height: auto;
}

div.search-group {
  width: 80%;
  margin: auto;
}
.search-form {
  width: 100%;
  display: flex;
}
